@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body {
  line-height: 1;
  color: black;
  background: white; }

ol, ul {
  list-style: none; }

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: "" ""; }
q:before, q:after, blockquote:before, blockquote:after {
  content: ""; }

a img {
  border: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222; }
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em; }

h2 {
  font-size: 2em;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em; }

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em; }

h6 {
  font-size: 1em;
  font-weight: bold; }

p {
  margin: 0 0 1.5em; }
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0; }
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0; }

a {
  text-decoration: underline;
  color: #000099; }
a:visited {
  color: #000066; }
a:focus {
  color: black; }
a:hover {
  color: black; }
a:active {
  color: #cc0099; }

blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

dfn {
  font-style: italic;
  font-weight: bold; }

sup, sub {
  line-height: 0; }

abbr, acronym {
  border-bottom: 1px dotted #666666; }

address {
  margin: 0 0 1.5em;
  font-style: italic; }

del {
  color: #666666; }

pre {
  margin: 1.5em 0;
  white-space: pre; }

pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5; }

li ul, li ol {
  margin: 0; }

ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

dl {
  margin: 0 0 1.5em 0; }
dl dt {
  font-weight: bold; }

dd {
  margin-left: 1.5em; }

table {
  margin-bottom: 1.4em;
  width: 100%; }

th {
  font-weight: bold; }

thead th {
  background: #c3d9ff; }

th, td, caption {
  padding: 4px 10px 4px 5px; }

tr.even td {
  background: #e5ecf9; }

tfoot {
  font-style: italic; }

caption {
  background: #eeeeee; }

.quiet {
  color: #666666; }

.loud {
  color: #111111; }

body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 87.5%;
  background: #444; }

#tweetbutton {
  font-size: 14px;
  padding: 0.4em 0.5em; }

#content {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1; }

#tweetform, #tweets {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #ddd; }

#tweetform {
  margin: 1.5em 0 0.5em 0;
  padding: 0.8em 0.8em; }

#tweetinput {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #D5E8DC;
  border: 1px solid #aaa;
  padding: 0.5em;
  font-size: 14px;
  width: 30em; }

#tweets {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px; }
* html #tweets {
  overflow-x: hidden; }

.tweet {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid #bbb;
  padding: 0.5em 1em; }
.tweet:hover {
  background: #ccc; }

.avatar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 30px;
  margin-right: 2em; }
* html .avatar {
  overflow-x: hidden; }

.data {
  display: inline;
  float: left;
  margin-right: 0;
  width: 870px; }
* html .data {
  overflow-x: hidden; }

.screenname {
  float: left;
  font-weight: bold;
  margin-right: 0.5em; }

.name {
  color: #888;
  font-size: smaller;
  line-height: 1.8; }

time {
  color: #888;
  font-size: smaller; }
