@import "compass/reset";
@import "compass/css3";
@import "blueprint";

@include blueprint-typography-defaults;

body {
  @include blueprint-typography-body(14px);
  background: #444;
}

#tweetbutton {
  font-size: 14px;
  padding: 0.4em 0.5em;
}

#header {
}

#content {
  @include container;
}

#tweetform, #tweets {
  @include border-radius;
  background: #ddd;
}

#tweetform {
  margin: 1.5em 0 0.5em 0;
  padding: 0.8em 0.8em;
}

#tweetinput {
  @include border-radius;
  background: #D5E8DC;
  border: 1px solid #aaa;
  padding: 0.5em;
  font-size: 14px;
  width: 30em;
}

#tweets {
  @include column(24, true);
}

.tweet {
  @include container;
  border-bottom: 1px solid #bbb;
  padding: 0.5em 1em;
  &:hover {
    background: #ccc;
  }
}

.avatar {
  @include column(1);
  margin-right: 2em;
}

.data {
  @include column(22, true);
}

.screenname {
  float: left;
  font-weight: bold;
  margin-right: 0.5em;
}

.name {
  color: #888;
  font-size: smaller;
  line-height: 1.8;
}

.msg {
}

time {
  color: #888;
  font-size: smaller;
}
